# Database connection URIs
PRIMARY_DB_USER=emdtuser
PRIMARY_DB_PASSWORD=f62da594ee4995ef4fbe526c8a55ada
PRIMARY_DB_HOST=localhost
PRIMARY_DB_NAME=ardeocore

METRICS_DB_USER=emdtuser
METRICS_DB_PASSWORD=f62da594ee4995ef4fbe526c8a55ada
METRICS_DB_HOST=localhost
METRICS_DB_NAME=metrics
METRICS_DB_PORT=5432

# Redis`
REDIS_URL=redis://redis:6379/0

# Logging
LOG_FILE=/app/app.log
LOG_LEVEL=INFO

CELERY_WORKER_LOG_FILE=/app/celery_worker.log
CELERY_BEAT_LOG_FILE=/app/celery_beat.log
