# Database connection URIs

PRIMARY_DB_USER=emdtuser
PRIMARY_DB_PASSWORD=f62da594ee4995ef4fbe526c8a55ada
PRIMARY_DB_HOST=localhost
PRIMARY_DB_NAME=ardeocore

METRICS_DB_USER=emdtuser
METRICS_DB_PASSWORD=f62da594ee4995ef4fbe526c8a55ada
METRICS_DB_HOST=localhost
METRICS_DB_NAME=metrics
METRICS_DB_PORT=5432
