# Data scraping
BASE_URL=http://localhost:8000
TIMEOUT=5
DISABLE_MEETINGS_FETCH=false

# Disable primary db
DISABLE_PRIMARY_DB=true

# Bootstrap reporting DB
BOOTSTRAP_METRICS_DB=true

# Database connection URIs
PRIMARY_DB_USER=emdtuser
PRIMARY_DB_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxx
PRIMARY_DB_HOST=localhost
PRIMARY_DB_NAME=ardeocore

# Reporting db
METRICS_DB_USER=emdtuser
METRICS_DB_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxx
METRICS_DB_HOST=localhost
METRICS_DB_NAME=metrics
METRICS_DB_PORT=5432

# Redis`
REDIS_URL=redis://redis:6379/0

# Logging
LOG_FILE=/app/app.log
LOG_LEVEL=INFO

CELERY_WORKER_LOG_FILE=/app/celery_worker.log
CELERY_BEAT_LOG_FILE=/app/celery_beat.log
