fastapi
uvicorn
a2wsgi

sqlalchemy
pydantic
python-dotenv

dash
plotly

pytest
pandas

pymysql
psycopg2-binary
httpx

celery
redis
flower

python-json-logger
prometheus-fastapi-instrumentator
cryptography

alembic

